.about {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
}

@media(max-width:1023px) and (orientation: portrait) {
    .about {
        flex-direction: column;
        width: 80%;
    }
}

@media(max-width: 1023px) and (orientation: landscape) {
    .about {
        margin: 0 auto;
        width: 80%;
    }
}

.about__section {
    margin-left: 10px;
    width: 70%;
}

@media(max-width:1023px) and (orientation: portrait) {
    .about__section {
        margin: 0;
        width: 100%;
    }
}

.about__header {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 1px #aaa;
    color: #000;
}

@media(max-width: 1023px) and (orientation: landscape) {
    .about__header {
        font-size: 26px;
    }
}

@media(max-width:767px) {
    .about__header {
        font-size: 24px;
    }
}

.about__paragraph {
    text-align: justify;
    font-size: 18px;
    color: #333;
}

@media(max-width: 1023px) and (orientation: landscape) {
    .about__paragraph {
        font-size: 14px;
    }
}

.about__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    max-width: 280px;
    border-radius: 10%;
}

@media(max-width: 767px) and (orientation: portrait) {
    .about__image {
        width: 50%;
        height: 50%;
    }
}