.about {
    margin: 20px auto;
    width: 70%;
    display: flex;
    align-items: center;
}

@media(max-width:1023px) {
    .about {
        flex-direction: column;
    }
}

.about__section {
    margin-left: 20px;
    width: 70%;
}

@media(max-width:1023px) {
    .about__section {
        margin: 0;
        width: 100%;
    }
}

.about__header {
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 1px 1px 1px #aaa;
    color: #000;
}

.about__paragraph {
    text-align: justify;
    font-size: 18px;
    color: #666;
}

.about__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 10%;
}

@media(max-width: 767px) {
    .about__image {
        width: 50%;
        height: 50%;
    }
}