.bookmark {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(160, 159, 159));
    padding: 10px 20px;
    z-index: -2;
    margin: 20px 0;
}

.bookmark__target {
    margin: 0;
    height: 60px;
    background: transparent;
}

.bookmark__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.bookmark__header {
    font-size: 40px;
    font-weight: normal;
    color: #333;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}

.bookmark__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    padding: 0;
}

.bookmark__icon-image {
    width: 32px;
    transform: rotate(20deg);
    opacity: 0.75;
}