.contact {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact__description {
    font-size: 16px;
    text-align: center;
}

.contact__header {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.contact__item-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1023px) {
    .contact__item-list {
        flex-direction: column;
    }
}

.contact__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
}

.contact__item-icon {
    display: block;
    width: 20px;
    margin: 0 5px;
}

.contact__item-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}