.contact {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact__description {
    font-size: 16px;
    text-align: center;
}

.contact__header {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.contact__item-list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 1023px) {
    .contact__item-list {
        flex-direction: column;
    }
}

.contact__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.contact__item-icon {
    display: block;
    width: 20px;
    margin: 0 5px;
}

.contact__item-link {
    display: flex;
    min-width: 250px;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px #999;
    transition: 0.5s;
    transition-property: box-shadow;
}

.contact__item-link:hover {
    box-shadow: 0 0 5px #999;
}