.footer {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: rgb(153, 153, 153);
    padding: 10px;
    margin-bottom: 40px;
}

.footer__inner {
    text-align: center;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.footer__item {
    margin: 10px 5px;
}

.footer__link {
    display: flex;
    align-items: center;
    transition: 0.3s;
    transition-property: box-shadow;
    padding: 5px;
}

.footer__linkIcon {
    width: 24px;
}

.footer__link:hover {
    box-shadow: 0 0 1px 1px #eee;
}

.footer__socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}