*, *::after, *::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto condensed", sans-serif;
    font-size: 16px;
}

html {
    background-color: #ddd;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}