.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.35);
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    margin: 0 auto;
}

.navigation__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
}

.navigation__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media(max-width: 1023px) {
    .navigation__menu {
        background-color: rgba(128, 128, 128, 0.35);
        flex-direction: column;
        align-items: flex-start;
        object-fit: contain;
        position: fixed;
        padding: 5px 60px 5px 10px;
        top: 0;
        right: 0;
        z-index: 3;
        transition: 0.5s;
        transition-property: transform, opacity;
        opacity: 0;
        pointer-events: none;
        transform: translateX(50%);
    }
}

@media(max-width: 1023px) {
    .navigation__menu--open {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.navigation__logo {
    font-size: 50px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition-duration: 0.3s;
    transition-property: text-shadow, background-color;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
}

@media(max-width:1023px) {
    .navigation__logo {
        font-size: 30px;
    }
}

.navigation__logo:hover {
    text-shadow: 2px 2px 0 #000;
    background-color: rgb(126, 126, 126);
}

.navigation__item {
    margin-left: 30px;
}

@media(max-width:1023px) {
    .navigation__item {
        margin: 0 5px;
    }
}

.navigation__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width: 1023px) {
    .navigation__pages {
        flex-direction: column;
        align-items: flex-start;
    }
}

.navigation__link {
    display: block;
    margin: 5px 0;
    padding: 10px;
    flex-basis: 25%;
    min-width: 100px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition-duration: 0.3s;
    transition-property: background-color;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
}

.navigation__link:hover {
    background-color: rgb(126, 126, 126);
}

.navigation__mobileButton {
    display: none;
}

.navigation__mobileButtonImage {
    display: block;
    width: 25px;
}

@media(max-width: 1023px) {
    .navigation__mobileButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 10px;
        background-color: rgb(68, 68, 68);
        background-size: cover;
        padding: 20px;
        width: 30px;
        height: 30px;
        transition: 0.5s;
        transition-property: transform, background-image;
        z-index: 3;
    }

    .navigation__mobileButton:focus {
        outline: 2px solid #666;
        outline-offset: 2px;
    }
}

@media(max-width: 1023px) {
    .navigation__mobileButton--open {
        transform: rotate(360deg);
    }
}