.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(50, 50, 150, 0.5);
    padding: 10px 20px;
}

.navigation__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media(max-width: 1023px) {
    .navigation-menu {
        background-color: rgb(50, 50, 50);
        flex-direction: column;
        align-items: flex-start;
        object-fit: contain;
        position: fixed;
        padding: 10px 60px 10px 20px;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateX(50%);
        transition: 0.5s;
        transition-property: transform, opacity;
    }
}

@media(max-width: 1023px) {
    .navigation-menu--open {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.navigation__logo {
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

@media(max-width:1023px) {
    .navigation__logo {
        font-size: 30px;
    }
}

.navigation-menu__item {
    margin-left: 30px;
}

@media(max-width:1023px) {
    .navigation-menu__item {
        margin: 10px 5px;
    }
}

.navigation-menu__link {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
}

.navigation-menu__pages, .navigation-menu__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width: 1023px) {
    .navigation-menu__pages {
        flex-direction: column;
        align-items: flex-start;
    }
}

.navigation-menu__link-social {
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.navigation-menu__social-icon {
    width: 20px;
}

.navigation__logo:hover, .navigation-menu__link:hover {
    text-shadow: 2px 3px 0px #000;
}

.navigation-menu__link-social:hover {
    box-shadow: 2px 3px 0px #000;
}

.navigation-menu__mobile-button {
    display: none;
}

@media(max-width: 1023px) {
    .navigation-menu__mobile-button {
        /*please work*/
        display: block;
        border: 0;
        background-image: url("../images/navigation.svg");
        background-color: transparent;
        background-size: cover;
        padding: 0;
        z-index: 1;
        width: 30px;
        height: 30px;
        transition: 0.5s;
    }
}

@media(max-width: 1023px) {
    .navigation-menu__mobile-button--open {
        background-image: url("../images/cross.webp");
        transform: rotate(360deg);
    }
}