.songBox {
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ddd;
    position: fixed;
    height: 50vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity, transform;
    transition: 0.5s;
    transform: scale(0.5);
    transform-origin: bottom right;
}

@media(orientation:landscape) {
    .songBox {
        width: 50vw;
        z-index: 2;
    }
}

.songBox--open {
    opacity: 1;
    pointer-events: unset;
    transform: unset;
}

.songBox--open * {
    opacity: 1;
}

.songBox__header {
    padding: 0 10px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #666;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.songBox__description {
    font-size: 18px;
    padding-left: 5px;
    margin-top: 5px;
    text-align: left;
}

.songBox__video {
    display: block;
    width: 90%;
    height: 75%;
    border: none;
}

.songBox__closeButton {
    display: block;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    transition-property: opacity;
    opacity: 0.5;
    font-size: 36px;
    padding-right: 5px;
    margin-top: 5px;
}

.songBox__closeButton:hover {
    opacity: 1;
}
