/*commentary
Author: pawlo1994
*/

.songs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto 40px;
    padding: 20px 0;
    gap: 20px;
    grid-gap: 20px;
    background-color: #eee;
}

@media(max-width: 1023px) {
    .songs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 767px) {
    .songs {
        grid-template-columns: repeat(1, 1fr);
    }
}

.song__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

@media(max-width: 1023px) {
    .song__button {
        font-size: 3vw;
    }
}

@media(max-width: 767px) {
    .song__button {
        font-size: 4vw;
    }
}

.song__button:hover {
    box-shadow: 0 0 5px #000;
}

.song__image {
    width: 16vw;
    height: 9vw;
}

@media(max-width: 1023px) {
    .song__image {
        width: 24vw;
        height: 14vw;
    }
}

@media(max-width: 767px) {
    .song__image {
        width: 64vw;
        height: 36vw;
    }
}

.song {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(30, 30, 30);
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation-name: show;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.song__header {
    font-size: 3vw;
    text-align: center;
    color: #fff;
}

@media(max-width: 1023px) {
    .song__header {
        font-size: 4vw;
    }
}

@media(orientation:portrait) {
    .song__header {
        font-size: 6vw;
    }
}

.song__video {
    width: 50vw;
    height: 50vh;
    border: none;
}

@media(orientation: portrait) {
    .song__video {
        width: 80vw;
        height: 40vw;
    }
}

.close__button {
    position: absolute;
    top: 5%;
    right: 5%;
    object-fit: contain;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    opacity: 0.5;
}

.close__button:hover {
    opacity: 1;
}

.close__button-image {
    width: 3vw;
}

@media(max-width: 767px) and (orientation:portrait) {
    .close__button-image {
        /*another image width*/
        width: 5vw;
    }
}

@keyframes show {
    from {
        transform: scale(0.5);
        opacity: 0.5;
    }
}