.song-box-mini {
    color: #000;
    padding: 0 20px;
    text-shadow: 1px 1px 0px #fff;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #aaa;
    position: fixed;
    height: 40vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity, transform;
    transition: 0.5s;
    transform: scale(0.5);
    transform-origin: bottom right;
}

@media(orientation:landscape) {
    .song-box-mini {
        height: 50vh;
    }
}

.song-box-mini--open {
    display: flex;
    opacity: 1;
    pointer-events: unset;
    transform: unset;
}

@media (orientation: landscape) {
    .song-box-mini {
        padding: 0;
        justify-content: space-between;
        border-radius: 10px 0 0 0;
        width: 50vw;
        z-index: 2;
    }
}

.song-box__header {
    color: #eee;
    margin: 0;
    padding: 5px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media(max-width: 1023px) {
    .song-box__header {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    .song-box__header {
        font-size: 10px;
    }
}

.song-box__header__description {
    padding: 0;
    margin: 0;
    width: 80%;
    text-align: left;
}

.song-box__header * {
    opacity: 0;
}

.song-box-mini .song-box__header__description {
    color: #000;
}

@media(max-width: 1023px) and (orientation:landscape) {
    .song-box-mini .song-box__header {
        font-size: 10px;
    }
}

@media(min-width:1024px) and (orientation:landscape) {
    .song-box-mini .song-box__header {
        font-size: 14px;
    }
}

.song-box-mini .song-box__header * {
    color: #000;
}

.song-box__video {
    display: block;
    width: 90%;
    height: 70%;
    border: none;
    opacity: 0;
}

.song-box--open *, .song-box-mini--open * {
    opacity: 1;
}

.song-box__header-buttons {
    margin: 0;
    padding: 0;
    object-fit: contain;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.close__button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    transition-property: opacity;
    opacity: 0.5;
    font-size: 36px;
}

@media(max-width: 1023px) {
    .close__button {
        font-size: 24px;
    }
}

.close__button:hover {
    opacity: 1;
}