.songBox {
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ddd;
    position: fixed;
    height: 350px;
    width: 40%;
    z-index: 2;
    right: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transform: translatey(350px);
    transform-origin: bottom;
}

@media(max-width:1024px) {
    .songBox {
        width: 50%;
        height: 270px;
        transform: translatey(270px);
    }
}

@media(max-width:768px) {
    .songBox {
        width: 60%;
        height: 220px;
        transform: translateY(220px);
    }
}

@media(max-width:425px) {
    .songBox {
        width: 100%;
    }
}

@media(max-height:319px) {
    .songBox {
        width: 50%;
        height: 170px;
        transform: translateY(170px);
    }
}

.songBox--open {
    opacity: 1;
    pointer-events: unset;
    transform: unset;
}

.songBox--small {
    opacity: 1;
    transform: translatey(300px);
}

@media(max-width:1024px) {
    .songBox--small {
        transform: translateY(220px);
    }
}

@media(max-width:768px) {
    .songBox--small {
        transform: translateY(170px);
    }
}

.songBox__header {
    padding: 5px 20px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #333;
    box-shadow: inset 0 0 3px 3px #fff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.songBox__description {
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.songBox__video {
    display: block;
    width: 90%;
    height: 75%;
    border: none;
    transition-delay: 0.5s;
}

.songBox__video--hidden {
    opacity: 0;
}

.songBox__buttonsContainer {
    display: flex;
    align-items: center;
}

.songBox__button {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    opacity: 1;
    font-size: 36px;
    margin: 0;
}

.songBox__button--resize:hover {
    color: #ddd;
}

.songBox__button--close:hover {
    color: #f30;
}