/*commentary
Author: pawlo1994
*/

.songs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto 40px;
    padding: 20px 0;
    gap: 20px;
    grid-gap: 20px;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
}

@media(max-width: 1023px) and (orientation: landscape) {
    .songs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1023px) and (orientation: portrait) {
    .songs {
        grid-template-columns: repeat(1, 1fr);
    }
}

.song__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    transition-property: box-shadow;
    padding: 10px 0;
}

@media(max-width: 1023px) and (orientation: landscape) {
    .song__button {
        font-size: 3vw;
    }
}

@media(max-width: 1023px) and (orientation: portrait) {
    .song__button {
        font-size: 4vw;
    }
}

.song__button:hover {
    box-shadow: 0 0 5px #000;
}

.song__image {
    width: 16vw;
    height: 9vw;
}

@media(max-width: 1023px) and (orientation: landscape) {
    .song__image {
        width: 24vw;
        height: 14vw;
    }
}

@media(max-width: 1023px) and (orientation: portrait) {
    .song__image {
        width: 64vw;
        height: 36vw;
    }
}

.song {
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    transition-property: transform, opacity;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    z-index: 4;
}

.song--open {
    display: flex;
    transform: scale(1);
    opacity: unset;
    pointer-events: unset;
}

@media (orientation: portrait) {
    .song {
        justify-content: flex-start;
    }
}

.song__mini {
    color: #000;
    text-shadow: 1px 1px 0px #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #aaa;
    position: fixed;
    height: 50vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    transition-property: transform, opacity;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
}

.song__mini--open {
    display: flex;
    opacity: 1;
    pointer-events: unset;
    transform: unset;
}

@media (orientation: landscape) {
    .song__mini {
        justify-content: flex-end;
        border-radius: 10px 0 0 0;
        width: 50vw;
        z-index: 2;
    }
}

.song__header {
    position: absolute;
    margin: 15px 0 0 10px;
    top: 0;
    left: 0;
    width: 70%;
    font-size: 3vw;
    text-align: left;
    opacity: 0;
}

@media(orientation:landscape) {
    .song__mini .song__header {
        font-size: 2vw;
    }
}

@media(orientation:portrait) {
    .song__header {
        font-size: 6vw;
    }
}

.song__video {
    display: block;
    width: 50%;
    height: 50%;
    border: none;
    opacity: 0;
}

.song--open .song__video, .song--open .song__header, .song__mini--open .song__video, .song__mini--open .song__header {
    opacity: 1;
}

@media(orientation: portrait) {
    .song__video {
        width: 70%;
    }
}

@media(orientation: portrait) {
    .song .song__video {
        height: 25%;
        margin-top: 200px;
    }
}

@media(orientation: landscape) {
    .song__mini .song__video {
        height: 75%;
        width: 80%;
    }
}

.resize__button, .close__button {
    margin: 0;
    padding: 0;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    transition-property: opacity;
    opacity: 0.5;
    font-size: 3vw;
}

@media(max-width: 1023px) {
    .resize__button {
        font-size: 4vw;
    }
}

@media(orientation:portrait) {
    .resize__button {
        font-size: 6vw;
    }
}

@media(max-width: 1023px) {
    .close__button {
        font-size: 4vw;
    }
}

@media(orientation:portrait) {
    .close__button {
        font-size: 6vw;
    }
}

.close__button:hover, .resize__button:hover {
    opacity: 1;
}

.song__video__buttons {
    padding: 0;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
}

.song__mini .close__button, .song__mini .resize__button {
    color: #000;
}

@media (orientation: landscape) {
    .song__video__buttons {
        width: 10vw;
    }
}