/*commentary
Author: pawlo1994
*/

.song-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
}

.song-list__button {
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    transition-property: box-shadow;
    padding: 10px 0;
}

@media(max-width: 1023px) and (orientation: landscape) {
    .song-list__button {
        font-size: 3vw;
    }
}

@media(max-width: 1023px) and (orientation: portrait) {
    .song-list__button {
        font-size: 4vw;
    }
}

.song-list__button:hover {
    box-shadow: 0 0 5px #000;
}