.songBox {
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ddd;
    position: fixed;
    height: 40vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity, transform;
    transition: 0.5s;
    transform: scale(0.5);
    transform-origin: bottom right;
}

@media(orientation:landscape) {
    .songBox {
        height: 50vh;
        width: 50vw;
        z-index: 2;
    }
}

.songBox--open {
    opacity: 1;
    pointer-events: unset;
    transform: unset;
}

.songBox--small {
    opacity: 1;
    height: 50px;
}

.songBox__header {
    padding: 5px 20px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #333;
    box-shadow: inset 0 0 3px 3px #fff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.songBox__description {
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.songBox__video {
    display: block;
    width: 90%;
    height: 75%;
    border: none;
}

.songBox__video--hidden {
    display: none;
}

.songBox__buttonsContainer {
    display: flex;
    align-items: center;
}

.songBox__button {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    opacity: 1;
    font-size: 36px;
    margin: 0;
}

.songBox__button--resize:hover {
    color: #ddd;
}

.songBox__button--close:hover {
    color: #f30;
}